<div class="bg-gray-50 dark:bg-gray-900 py-16">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-gray-800 dark:text-white text-center">Certifications and Courses</h2>
      <p class="text-gray-600 dark:text-gray-400 mt-4 text-center">
        Here are some of the certifications I have obtained.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
        <!-- Certification 1 -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Flutter -  your complete guide for IOS and android</h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">Udemy</p>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">May 2023</p>
          <a
            href="https://www.udemy.com/certificate/UC-c5ecc0fc-ee2e-4922-b506-4d0e88ede3d0/"
            target="_blank"
            class="text-blue-500 hover:underline mt-4 inline-block"
          >
          See Credential
          </a>
        </div>
  
        <!-- Certification 2 -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Riverpod providers with anotations</h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">DevTalles</p>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">November 2023</p>
          <a
            href="https://cursos.devtalles.com/certificates/cprbjri46v"
            target="_blank"
            class="text-blue-500 hover:underline mt-4 inline-block"
          >
          See Credential
          </a>
        </div>
  
        <!-- Certification 3 -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 dark:text-white">B2 - Upper Intermediate English</h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">EF SET</p>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">September 2023</p>
          <a
            href="https://cert.efset.org/3Mgqmi"
            target="_blank"
            class="text-blue-500 hover:underline mt-4 inline-block"
          >
            See Credential
          </a>
        </div>

        <!-- Certification 3 -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Spring Course</h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">Platzi</p>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">December 2023</p>
          <a
            href="https://platzi.com/p/frandepy57/curso/1996-java-spring/diploma/detalle/"
            target="_blank"
            class="text-blue-500 hover:underline mt-4 inline-block"
          >
            See Credential
          </a>
        </div>
  
        <!-- Certification 3 -->
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Swift Introduction</h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">Platzi</p>
          <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">April 2024</p>
          <a
            href="https://platzi.com/p/frandepy57/curso/1772-swift-5/diploma/detalle/"
            target="_blank"
            class="text-blue-500 hover:underline mt-4 inline-block"
          >
            See Credential
          </a>
        </div>
      </div>
    </div>
  </div>
  