---
import Avatar from './avatar.astro'; // Componente para tu avatar
---

<div id="home" class="bg-gray-900 text-white dark:bg-gray-800 min-h-screen flex items-center justify-center">
  <div class="container mx-auto px-6 flex flex-col md:flex-row items-center">
    <!-- Left Content -->
    <div class="md:w-1/2 text-center md:text-left">
      <h1 class="text-4xl lg:text-6xl font-bold text-gradient">
        Welcome, I'm Fran
      </h1>
      <p class="text-gray-400 mt-4 text-lg">
        Mobile Developer | Flutter Enthusiast | Clean Architecture Advocate | Computer Science Student
      </p>
      <div class="mt-6">
        <!-- Button to Contact Section -->
        <a href="#contact">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Contact me
          </button>
        </a>
        <!-- Button to Portfolio Section -->
        <a href="#projects">
          <button class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded ml-4">
            My Projects
          </button>
        </a>
      </div>
    </div>

    <!-- Right Content -->
    <div class="md:w-1/2 mt-10 md:mt-0 flex justify-center">
      <Avatar />
    </div>
  </div>
</div>
