<div id="work" class="bg-gray-50 dark:bg-gray-900 py-16">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-white text-center">
      Work experience
    </h2>
    <div class="relative border-l border-gray-200 dark:border-gray-700 mt-8">
      <!-- Job 1 -->

      <div class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -left-3 ring-8 ring-gray-50 dark:ring-gray-900"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3a1 1 0 00.293.707l2 2a1 1 0 101.414-1.414L11 9.586V7z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <h3
          class="flex items-center mb-1 text-lg font-semibold text-gray-800 dark:text-white"
        >
          Frontend Architect
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3"
          >
            Present
          </span>
        </h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          ITTI S.A.E.C.A. | March 2024 - Present
        </p>
        <p class="mt-2 text-gray-600 dark:text-gray-400"></p>
        <ul class="mt-2 text-gray-600 dark:text-gray-400">
          <li>
            Developed architectural solutions for mobile applications, ensuring
            scalability and maintainability.
          </li>
          <li>
            Implemented clean architecture in mobile projects to standardize
            coding practices and enhance modularity.
          </li>
          <li>
            Led the integration of new features into existing apps, ensuring
            compatibility across multiple platforms.
          </li>
          <li>
            Optimized performance for mobile apps by identifying and fixing
            bottlenecks in code and infrastructure.
          </li>
          <li>
            Provided mentorship to junior developers, fostering a culture of
            knowledge sharing and best practices.
          </li>
          <li>
            Collaborated with cross-functional teams to align technical
            solutions with business goals.
          </li>
          <li>
            Conducted code reviews to ensure adherence to best practices and
            maintain code quality standards.
          </li>
          <li>
            Researched and integrated third-party tools and libraries to enhance
            app functionality and efficiency.
          </li>
          <li>
            Designed and implemented GitHub Actions workflows for CI/CD,
            automating build, test, and deployment pipelines to improve
            development efficiency.
          </li>
        </ul>
      </div>

      <!-- Job 2 -->
      <div class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -left-3 ring-8 ring-gray-50 dark:ring-gray-900"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3a1 1 0 00.293.707l2 2a1 1 0 101.414-1.414L11 9.586V7z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-800 dark:text-white">
          Mobile Developer
        </h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          e-tica | July 2022 - March 2024
        </p>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          I played a key role in the development of EKO, a banking application
          designed to streamline financial services for users. Leveraging my
          expertise in Flutter.
        </p>
        <ul class="mt-2 text-gray-600 dark:text-gray-400">
          <li>
            Implemented a trusted device feature, reducing fraud cases by 30%.
          </li>
          <li>
            Developed and implemented SPI 2.0, including refund request
            functionality and Alias, complying with state requirements.
          </li>
          <li>
            Implemented an optional physical card feature in the app,
            significantly reducing logistical costs for the company.
          </li>
          <li>
            Collaborated in the app's deployment to stores and technology
            migration.
          </li>
          <li>
            Contributed to corrections required to meet the pentest compliance
            requirements.
          </li>
          <li>
            Adapted and migrated the app following the bank's database
            migration.
          </li>
          <li>
            Fixed key functions, including the automatic activation of cards.
          </li>
          <li>
            Created tools that reduced the identity card search time requested
            by the bank from 2 hours to 5 minutes.
          </li>
        </ul>
      </div>

      <!-- Job 3 -->
      <div class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -left-3 ring-8 ring-gray-50 dark:ring-gray-900"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3a1 1 0 00.293.707l2 2a1 1 0 101.414-1.414L11 9.586V7z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-800 dark:text-white">
          Intern
        </h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          Baker Tilly Paraguay | 2017
        </p>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          Supported system implementation projects with Python, customizing Odoo
          ERP to meet client requirements. Collaborated with clients to gather
          and prioritize needs, ensuring tailored solutions. Delivered seamless
          integrations, user training, and technical support to enhance system
          efficiency and client satisfaction.
        </p>
      </div>
      <!-- Job 3 -->
      <div class="mb-10 ml-6">
        <span
          class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -left-3 ring-8 ring-gray-50 dark:ring-gray-900"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3a1 1 0 00.293.707l2 2a1 1 0 101.414-1.414L11 9.586V7z"
              clip-rule="evenodd"></path>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-800 dark:text-white">
          Intern
        </h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          Optinet - UFINET | 2016
        </p>
        <p class="mt-2 text-gray-600 dark:text-gray-400">
          Assisted the Commercial Manager in streamlining operations by
          gathering and analyzing client requirements.
        </p>
      </div>
    </div>
  </div>
</div>
